[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
jieba = "*"
wordcloud = "*"
matplotlib = "*"
pillow = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
